# Virtual environment
venv/

# Environment variables (contains private API keys!)
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary audio files
*.wav
*.mp3

# Editor configs
.vscode/
.idea/
